body {
	background-color: #005A81;
}

h3 {
	font-family: "Cambria";	
}

p {
	font-family: "Cambria";
}

a {
    color: #CBB18B;
    text-decoration: none;
}

a:hover {
    color: #2FB8F2;
}

a.button {
	display: block;
	margin: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 90%;
	height: 90px;
	line-height: 90px;	
	text-align: center;
	border-radius: 8px;
	background-color:  #10375A;
	font-family: "Cambria";
	font-weight: bold;
	font-size: 50px;
}	

#outer_div {
	padding: 20px;
	margin-right: 80px;
	margin-left: 80px;
	margin-bottom: 40px;
	background: white;
	border-radius: 8px;
}

#middle_div {
	padding: 30px;
}

#header_div {
	margin-left: 80px;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 30px;
}

#inside_div {
	margin-left: 30px;
}

img{
	margin-left: 20px;
}