body {
	/*background-color: #0096D6;*/
	background-color: #005A81;
}

h1 {
	/*color: navy;*/
	margin-left: 20px;
	font-family: "Cambria";
}

h3 {
	font-family: "Cambria";	
}

p {
	font-family: "Cambria";
}

a:hover {
    color: #2FB8F2;
}

a {
    color: #CBB18B;
    text-decoration: none;
}

#main_div {
	/*
	padding-top: 20px;
	margin-left: 20px;
	/*outline: black solid thick;*/
	background-color: white;
	/*padding: 20px;*/
	/*border: 20px;*/
	border-radius: 8px;
}

#inside_div {
	margin-left: 40px;
	margin-right: 40px;
	/*margin-top: 30px;*/
}

#header_div {
	/*margin-top: 0px;
	background-color: white;*/
	color: white;
}

#contet_div {
	text-indent: 5px;
}

.header_div_2 h3 {
	float: left;
	
}

.header_div_2 img {
	position: relative;
	float: right;
	/*top: 18px;*/
	/*left: 10px;*/
}
